* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.8;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #323232;
    color: #ffffff;
}

button {
    border: none;
    background: #f1356d;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s;
}

.modal {
    background: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 150px;
    text-align: center;
}

.modal h1, .modal p {
    margin-bottom: 17px;
}

.show {
    opacity: 1;
    pointer-events: auto;
}